@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');

body, html {
    background: linear-gradient(135deg, rgba(32,0,56,1) 0%, rgba(81,0,128,1) 50%, rgba(203,32,218,1) 100%);
    min-height: 100vh;
    min-width:100vw;
    background-size:cover;
    background-attachment: fixed;
    margin:0;
    font-family: Arial, sans-serif;
    background-repeat:no-repeat;    
}

#pres-logo {
    margin-left:auto;
    height:120px;
    width:120px;
}

#session {
    height:60px;
    width:60px;
    border-color:#ffffff;
    border-radius:50%;
}   

#ubi{
    height: 61px;
    width: 60px;
    margin-top:9%;
}

#center {
    color:white;
    font-size: 23px;
    padding:15px;
    float: left;
    display:flex;   
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 15%;
}

#home {
    background-color:black;
    height:15vh;
    width:100vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-color:black;
    justify-content: space-between;
}

#left {
    padding: 15px;
    display:flex;
    justify-content: center;
    align-items:center;
    float: left;
    width: 10%;
}

#right {
    padding: 20px;
    margin-right: 1vw;
    display:flex;
    justify-content: center;
    align-items:center;
    float: left;
    width: 10%;
    justify-content: space-between;
}

h2 {
    color:white;
}

#box-info {
    margin:auto;
    border: 5px solid white;
    margin-top: 10vh;
    width:66%;
    height:100vh;
    background-color: black;
    border-radius: 25px;
}

#subtitulo {
    margin-top:5vh;
    margin-bottom:1vh;
    text-decoration:none;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-weight: 700px;;
}   

#box-info p {
    font-family: 'Space Grotesk', sans-serif;
    margin:3vw;
    font-size:2vh;
    color:white;
    text-justify:inter-word;
}

@media only screen and (max-width:425px) {
    #pres-logo {
        height: 60px;
        width:60px;
    }
    #center {
        font-size: 15px;
    }
    
}